@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */
.full-height {
    height: 100vh;
}

/* ---------------------------------------- */
/* Components */

button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #18382B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

/* ---------------------------------------- */
/* Bootstrap Component Overrides */

/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.60);
}

.nav-link:hover {
    color: #18382B;
}

.nav-link.active {
    border-bottom: 2px solid #18382B;
    color: #18382B;
}


/* Carousel */

.carousel-item {
    background-color: #E6F2E9;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}

/* Card */

.col-4 .card{
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}

/* ---------------------------------------------------------------- */
/* Home Page */

.hero-image {
    height: 90vh; 
    position: relative;
    bottom: -100px;
}

.hero-image-2{
    height: 90vh; 
    position: relative;
    bottom: 30px;
    right: -60px;
}

#accordion .card{
    background-color: #d7f8e5;
}


/* ---------------------------------------------------------------- */
/* Wishlist Page */

#wishpage{
    background-color: #ffffff;
}

#wishlist{
    margin-top: 85px;
    height: 240px;
    background-color: #ffffff;
    position: relative;
    align-self:auto;
    text-align: center;
}

#row-1{
    height: 14vh;
}

#row-2{
    height: 14vh;
}

#row-3{
    height: 14vh;
}

#row-4{
    height: 14vh;
}

#table{
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1.5px;
    border-color: #18382B;
}

#pictures{
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1.5px;
    border-color: #18382B;
}

#tableName{
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1.5px;
    border-color: #18382B;
    padding-top: 5.4vh;
    font-weight: bold;
}

#buttons{
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1.5px;
    border-color: #18382B;
    padding-top: 0.85vh;
}

.minus{
    border: none;
    padding: 0;
    border-radius: 8px;
    background-color: #ffffff;
    padding-left: 10px;
}




#photo-1{
    background-repeat: none;
    background-image: url("/assets/plant1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 14vh;
    width: 11vh;
}

#photo-2{
    background-repeat: none;
    background-image: url("/assets/plant2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 14vh;
    width: 11vh;
}

#photo-3{
    background-repeat: none;
    background-image: url("/assets/plant3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 14vh;
    width: 11vh;
}

#photo-4{
    background-repeat: none;
    background-image: url("/assets/plant4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 14vh;
    width: 11vh;
}

